
<% @rsslists.each do |rsslist| %>
		<div class="thename">  <%=h rsslist.name %>
			<%=  link_to  rsslist.adress, rsslist, :class =>"theadress"   %>
		</div>
		<p></p>
<% end %>

<br/> 
<%= link_to 'New rsslist', new_rsslist_path, :class=>"special" %>
