<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>THOR <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<div id='letout'>
	<div id='latete'>
		<img src='../images/thor.png' alt='Thor'></img>
			<div id='lestab'>
				<ul>
					<li><a href='../rsslists'>RSS</a></li>
					<li><a href='../filterlists'>Filters</a></li>
					<li><a href='../home/scan'>Scan</a></li>
				</ul>
			</div>
	</div>
	<div>
	</div>
	<div id='bordure'>
	<div class='centre'></div>
	</div>
	<div id='lecentre'>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
	</div>
	<div id='lepied'>
		<p position='0'>Design, concept and realisation : Alban Avenant.</p>
	
	</div>
</div>


</body>
</html>